body{
    background-image: url(../img/stacked-waves-haikei.svg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #E3F2FD;
    
}
span::selection{
    background: #90CAF9;
}
h1::selection{
    background: #90CAF9;
}
p::selection{
    background: #90CAF9;
}
input::selection{
    background: #90CAF9;
}
